### 1. Scrape the details of most viewed videos on YouTube from Wikipedia: 

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/  
You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [5]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
import time

In [6]:
# connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

# Opening Wikipedia webpage
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)
time.sleep(2)

In [12]:
# Empty list for scraping data
Rank =[]
Name =[]
Artist =[]
Upload_date=[]
Views=[]

In [13]:
# Extracting data via XPaths and exception handling
try:
    rows = driver.find_elements(By.XPATH, '//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr')
    for row in rows:
        # Extract Rank
        try:
            rank = row.find_element(By.XPATH, './tr').text
            Rank.append(rank)
        except NoSuchElementException:
            Rank.append('NA')

        # Extract Name
        try:
            name = row.find_element(By.XPATH, './td[1]').text
            Name.append(name)
        except NoSuchElementException:
            Name.append('NA')

        # Extract Artist
        try:
            artist = row.find_element(By.XPATH, './td[2]').text
            Artist.append(artist)
        except NoSuchElementException:
            Artist.append('NA')

        # Extract Views
        try:
            views = row.find_element(By.XPATH, './td[3]').text
            Views.append(views)
        except NoSuchElementException:
            Views.append('NA')

        # Extract Upload Date
        try:
            upload_date = row.find_element(By.XPATH, './td[4]').text
            Upload_date.append(upload_date)
        except NoSuchElementException:
            Upload_date.append('NA')
except StaleElementReferenceException:
    pass

# Close the WebDriver
driver.quit()

In [15]:
# Dataframe for scrap data
Wiki_YT=pd.DataFrame({'Rank':Rank,'Video Name':Name,'Uploader':Artist,'Views (in Billons)':Views,'Upload Date':Upload_date})
print('\033[1m'+'Most Viewed Video on YouTube from Wikipedia :'+'\033[0m')
Wiki_YT

Most Viewed Video on YouTube from Wikipedia :

,Rank,Video Name,Uploader,Views (in Billons),Upload Date
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9.60,"June 17, 2016"
1,2.,"""Despacito""[25]",Luis Fonsi,7.61,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.87,"October 8, 2016"
3,4.,"""Shape of You""[27]",Ed Sheeran,5.51,"January 30, 2017"
4,5.,"""See You Again""[28]",Wiz Khalifa,5.32,"April 6, 2015"
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.61,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.53,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4.47,"January 31, 2012"
8,9.,"""Uptown Funk""[34]",Mark Ronson,4.35,"November 19, 2014"
9,10.,"""Phonics Song with Two Words""[35]",ChuChu TV,4.27,"March 6, 2014"
10,11.,"""Gangnam Style""[36]",Psy,4.24,"July 15, 2012"
11,12.,"""Dame Tu Cosita""[38]",El Chombo,3.67,"April 5, 2018"
12,13.,"""Sugar""[39]",Maroon 5,3.58,"January 14, 2015"
13,14.,"""Sorry""[40]",Justin Bieber,3.48,"October 22, 2015"
14,15.,"""Roar""[41]",Katy Perry,3.46,"September 5, 2013"
15,16.,"""Counting Stars""[42]",OneRepublic,3.43,"May 31, 2013"
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,3.35,"October 7, 2014"
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3.33,"May 24, 2018"
18,19.,"""Faded""[45]",Alan Walker,3.17,"December 3, 2015"
19,20.,"""Dark Horse""[46]",Katy Perry,3.17,"February 20, 2014"
20,21.,"""Girls Like You""[47]",Maroon 5,3.16,"May 31, 2018"
21,22.,"""Lean On""[48]",Major Lazer,3.12,"March 22, 2015"
22,23.,"""Bailando""[49]",Enrique Iglesias,3.12,"April 11, 2014"
23,24.,"""Shake It Off""[50]",Taylor Swift,3.11,"August 18, 2014"
24,25.,"""Let Her Go""[51]",Passenger,3.11,"July 25, 2012"
25,26.,"""Axel F""[52]",Crazy Frog,3.08,"June 16, 2009"
26,27.,"""Perfect""[53]",Ed Sheeran,3.00,"November 9, 2017"
27,28.,"""Mi Gente""[54]",J Balvin,3.00,"June 29, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,2.98,"June 4, 2010"
29,30.,"""Hello""[56]",Adele,2.90,"October 22, 2015"

### 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
    
You need to find following details:
    
A) Series   
B) Place   
C) Date   
D) Time   

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [50]:
# connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.bcci.tv/'
driver.get(url)
time.sleep(1)

In [51]:
# Opening fixtures webpage through browser
fixtures=driver.find_element(By.Xpath,"//div[@class="col-lg-12 col-md-12 col-sm-12 ng-scope"]")
try:
    fixtures.click()
except ElementNotInteractableException:
    driver.get(fixtures.get_attribute('href'))

In [52]:
# Scraping URL 
URL= []
link=driver.find_elements(By.Xpath,'//div[@class="js-list"]/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [53]:
# Creating empty list
Title = []
Series = []
Place = []
Date = []
Time = []

In [54]:
from tqdm import tqdm
for i in tqdm(URL):
    driver.get(i)
    
    # Scraping Match title
    try:
        title=driver.find_element(By.XPATH".//p[@class='mc-header-info__match-description']/span").text
        Title.append(title.text)
    except NoSuchElementException:
        Title.append('NA')
        
    # Scraping Series Via Xpath
    try:
        series=driver.find_element(By.XPATH,".//h5[@class="match-tournament-name ng-binding"]").text
        Series.append(series.text)
    except NoSuchElementException:
        Series.append('NA')
        
    # Scraping venue Via Xpath
    try:
        place=driver.find_element(By.XPATH,".//div[@class="match-venue ng-scope"]/span[2]").text
        Place.append(place.text)
    except NoSuchElementException:
        Place.append('NA')
        
    # Scraping date Via Xpath
    try:
        date=driver.find_element(By.XPATH,'.//div[@class="match-date-info"]/div[@class="match-dates ng-binding"]').text
        Date.append(date.text)
    except NoSuchElementException:
        Date.append('NA')
        
    # Scraping Time Via Xpath
    try:
        time=driver.find_element(By.XPATH,'.//div[@class="match-date-info"]/div[@class="match-time no-margin ng-binding"]').text
        Time.append(time.text)
    except NoSuchElementException:
        Time.append('NA')

100%|██████████| 20/20 [00:55<00:00,  2.79s/it]

In [55]:
# Dataframe for scrap data
Cricket=pd.DataFrame({'Match Title':Title,'Tournament':Series,'Venue':Place,'Date':Date,'Time':Time})
print('\033[1m'+'Team India’s Upcoming International fixtures :'+'\033[0m')
Cricket

Team India’s Upcoming International fixtures :

,Match Title,Tournament,Venue,Date,Time
0,MATCH 42,India v Namibia,"India v Namibia Dubai International Stadium, D...",Monday 8 November,19:30 IST
1,1ST T20I,India v New Zealand,"India v New Zealand Sawai Mansingh Stadium, Ja...",Wednesday 17 November,19:00 IST
2,2ND T20I,India v New Zealand,India v New Zealand JSCA International Stadium...,Friday 19 November,19:00 IST
3,3RD T20I,India v New Zealand,"India v New Zealand Eden Gardens, Kolkata",Sunday 21 November,19:00 IST
4,1ST TEST,India v New Zealand,"India v New Zealand Green Park, Kanpur",Thursday 25 November,09:30 IST
5,2ND TEST,India v New Zealand,"India v New Zealand Wankhede Stadium, Mumbai",Friday 3 December,09:30 IST
6,1ST ODI,India v West Indies,"India v West Indies Narendra Modi Stadium, Ahm...",Sunday 6 February,13:00 IST
7,2ND ODI,India v West Indies,"India v West Indies Sawai Mansingh Stadium, Ja...",Wednesday 9 February,13:00 IST
8,3RD ODI,India v West Indies,"India v West Indies Eden Gardens, Kolkata",Saturday 12 February,13:00 IST
9,1ST T20I,India v West Indies,"India v West Indies Barabati Stadium, Cuttack",Tuesday 15 February,19:00 IST
10,2ND T20I,India v West Indies,"India v West Indies ACA-VDCA Stadium, Visakhap...",Friday 18 February,19:00 IST
11,3RD T20I,India v West Indies,"India v West Indies Greenfield Stadium, Thiruv...",Sunday 20 February,19:00 IST
12,1ST TEST,India v Sri Lanka,"India v Sri Lanka M.Chinnaswamy Stadium, Banga...",Friday 25 February,09:30 IST
13,2ND TEST,India v Sri Lanka,India v Sri Lanka Punjab Cricket Association S...,Saturday 5 March,09:30 IST
14,1ST T20I,India v Sri Lanka,India v Sri Lanka Punjab Cricket Association S...,Sunday 13 March,19:00 IST
15,2ND T20I,India v Sri Lanka,India v Sri Lanka Himachal Pradesh Cricket Ass...,Tuesday 15 March,19:00 IST
16,3RD T20I,India v Sri Lanka,India v Sri Lanka Bharat Ratna Shri Atal Bihar...,Friday 18 March,19:00 IST
17,1ST T20I,India v South Africa,India v South Africa M. A. Chidambaram Stadium...,Thursday 9 June,19:00 IST
18,2ND T20I,India v South Africa,"India v South Africa M.Chinnaswamy Stadium, Ba...",Sunday 12 June,19:00 IST
19,3RD T20I,India v South Africa,India v South Africa Vidarbha Cricket Associat...,Tuesday 14 June,19:00 IST

### 3. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [6]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [7]:
# connecting to webdriver
driver=webdriver.Chrome(r'C:\chromedriver.exe')
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.statisticstimes.com/'
driver.get(url)
time.sleep(1)

In [8]:
# Creating Empty lists
Rank =[]
State =[]
GDSP_19_20=[]
GDSP_18_19 =[]
Share =[]
GDP =[]

In [9]:
# Clicking on India under ecomony section
India=driver.find_element(By.XPATH,'//div[@class="dropdown"][2]/div/a[3]')
try:
    India.click()
except ElementNotInteractableException:
    driver.get(India.get_attribute('href'))
    
time.sleep(2)

# Clicking Indian State GDP
state = driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
try:
    state.click()
except ElementNotInteractableException:
    driver.get(state.get_attribute('href'))
time.sleep(2)

In [11]:
# Extracting Rank via Xpath
try:
    rank=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[1]')
    for i in rank:
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append('NA')
    
# Extracting state name via Xpath
try:
    state=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[2]')
    for i in state:
        State.append(i.text)
except NoSuchElementException:
    State.append('NA')
    
# Extracting GDSP 19-20 via Xpath
try:
    gdsp_19_20=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[3]')
    for i in gdsp_19_20:
        GDSP_19_20.append(i.text)
except NoSuchElementException:
    GDSP_19_20.append('NA')
    
# Extracting GDSP 18-19 via Xpath
try:
    gdsp_18_19=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[4]')
    for i in gdsp_18_19:
        GDSP_18_19.append(i.text)
except NoSuchElementException:
    GDSP_18_19.append('NA')
    
# Extracting share in billons via Xpath
try:
    share=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[5]')
    for i in share:
        Share.append(i.text)
except NoSuchElementException:
    Share.append('NA')

# Extracting GDP via Xpath
try:
    gdp=driver.find_elements(By.XPATH,'//table[@id="table_id"]/tbody/tr/td[6]')
    for i in gdp:
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append('NA')

In [13]:
# Dataframe for scrap data
Statewise_GDP=pd.DataFrame({'Rank':Rank,'State':State,'GDSP 19-20':GDSP_19_20,'GDSP 18-19':GDSP_18_19,
                            'Share':Share,'GDP (in Billions)':GDP})
print('\033[1m'+'State-wise GDP of India :'+'\033[0m')
Statewise_GDP

State-wise GDP of India :

,Rank,State,GDSP 19-20,GDSP 18-19,Share,GDP (in Billions)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### 4. Scrape the details of trending repositories on Github.com.

Url = https://github.com/
    
You have to find the following details:
    
A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [93]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [103]:
# connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

# Opening Wikipedia webpage
url='https://github.com/'
driver.get(url)
time.sleep(1)

In [104]:
# Clicking on trending option
trending=driver.find_element(By.XPATH'.//ul[@class="list-style-none mb-3"][2]/li[3]/a')
try:
    trending.click()
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))

In [105]:
# Creating Empty list for Scraping Data
Title=[]
Description=[]
Count =[]
Language =[]

In [106]:
# Scraping repositories URL
URL= []
link=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]/a')
for i in link:
    URL.append(i.get_attribute('href'))

In [107]:
len(URL)

25

In [108]:
# Scraping Repositority Title
try:
    title=driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]')
    for i in title:
        Title.append(i.text)
except NoSuchElementException:
    Title.append('NA')

In [109]:
len(Title)

25

In [110]:
from tqdm import tqdm
for i in tqdm(URL):
    driver.get(i)
    time.sleep(5)
    # Scraping Description
    try:
        description=driver.find_element(By.XPATH,'/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[1]/div/p')
        Description.append(description.text)
    except NoSuchElementException:
        Description.append('NA')
    
    # Scraping Contributor count
    try:
        count=driver.find_element(By.XPATH,"//h2[@class='h4 mb-3']/a[contains(text(),'Contributors')]/span")
        Count.append(count.text)
    except NoSuchElementException:
        Count.append('NA')
    
    # Scraping Language
    L =[]
    try:
        lang=driver.find_elements(By.XPATH,"//li[@class='d-inline']//a//span[1]")
        if lang:
            for j in lang:
                L.append(j.text)
        else:
            L.append('NA')
        Language.append(L)
    except NoSuchElementException:
        Language.append('NA')

100%|██████████| 25/25 [05:43<00:00, 13.72s/it]

In [111]:
Github=pd.DataFrame({'Title':Title,'Description':Description,
                'Contributors_count':Count,'Language_used':Language})
print('\033[1m'+'GitHub Trending Repository :'+'\033[0m')
Github

GitHub Trending Repository :

,Title,Description,Contributors_count,Language_used
0,misterokaygo / MapAssist,NA,16,[C#]
1,questdb / questdb,An open source SQL database designed to proces...,50,"[Java, C++, C, Assembly, TypeScript, JavaScript]"
2,babysor / MockingBird,🚀AI拟声: 5秒内克隆您的声音并生成任意语音内容 Clone a voice in 5 s...,13,"[JavaScript, Python, HTML]"
3,v2fly / v2ray-core,A platform for building proxies to bypass netw...,111,[Go]
4,foxsen / archbase,教科书《计算机体系结构基础》（胡伟武等，第三版）的开源版本,NA,"[TeX, C, Assembly, Makefile, Dockerfile, CSS]"
5,DrKLO / Telegram,Telegram for Android source,16,"[Java, C++, C, Assembly, Perl, Go]"
6,files-community / Files,A modern file manager that pushes the boundari...,144,"[C#, C++]"
7,Dreamacro / clash,A rule-based tunnel in Go.,67,[Go]
8,vandadnp / flutter-tips-and-tricks,A Collection of Flutter and Dart Tips and Tricks,NA,[Dart]
9,233boy / v2ray,最好用的 V2Ray 一键安装脚本 & 管理脚本,NA,[Shell]
10,aeon0 / botty,D2R Pixel Bot,2,[Python]
11,commaai / openpilot,openpilot is an open source driver assistance ...,254,"[Python, C++, C, MATLAB, Perl, Shell]"
12,jwasham / coding-interview-university,A complete computer science study plan to beco...,226,[NA]
13,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,116,[NA]
14,bitcoin / bitcoin,Bitcoin Core integration/staging tree,828,"[C++, Python, C, M4, Shell, Makefile]"
15,solana-labs / solana,"Web-Scale Blockchain for fast, secure, scalabl...",223,"[Rust, TypeScript, Shell, SCSS, C, Python]"
16,getfotiaoqiang / download,佛跳墙官方版本下载页 翻墙 代理 科学上网 外网 加速器 梯子 路由,NA,[NA]
17,Kholid060 / automa,A chrome extension for automating your browser...,4,"[Vue, JavaScript, CSS, HTML]"
18,dockersamples / example-voting-app,Example Docker Compose app,32,"[C#, CSS, HTML, JavaScript, Dockerfile, Java]"
19,sherlock-project / sherlock,🔎 Hunt down social media accounts by username ...,135,"[Python, Dockerfile]"
20,ACL4SSR / ACL4SSR,SSR 去广告ACL规则/SS完整GFWList规则/Clash规则碎片，Telegram频...,NA,[NA]
21,freefq / free,翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/v2ray/trojan节点、蓝...,2,[NA]
22,TandoorRecipes / recipes,"Application for managing recipes, planning mea...",64,"[HTML, JavaScript, Python, TypeScript, Vue, CSS]"
23,CSSEGISandData / COVID-19,"Novel Coronavirus (COVID-19) Cases, provided b...",8,[NA]
24,obsproject / obs-studio,OBS Studio - Free and open source software for...,461,"[C, C++, CMake, Objective-C++, Objective-C, Sh..."

### 5. Scrape the details of top 100 songs on billboard.com.

Url = https://www.billboard.com/
    
You have to find the following details:
    
A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [2]:
# connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.billboard.com/'
driver.get(url)
time.sleep(1)

In [3]:
# Creating Empty List
Song =[]
Artist =[]
Last_Week_rank=[]
Peak_rank =[]
Weeks =[]

In [5]:
# Clicking on hot 100 option
hot_100=driver.find_element(By.XPATH,'.//ul[@class="header__subnav__list display--flex flex--left-center flex-md--center-center"]/li[2]/a')
try:
    hot_100.click()
except ElementNotInteractableException:
    driver.get(hot_100.get_attribute('href'))
time.sleep(2)

In [6]:
# Scraping Song Name
try:
    song=driver.find_elements(By.XPATH,'//span[@class="chart-element__information"]/span[1]')
    for i in song:
        Song.append(i.text)
except NoSuchElementException:
    Song.append('NA')
    
# Scraping Song Artist Name
try:
    artist=driver.find_elements(By.XPATH,'//span[@class="chart-element__information"]/span[2]')
    for i in artist:
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append('NA')
    
# Scraping Song last week rank
try:
    last_rank=driver.find_elements(By.XPATH,'//span[@class="chart-element__information"]/span[2]')
    for i in last_rank:
        Last_Week_rank.append(i.text)
except NoSuchElementException:
    Last_Week_rank.append('NA')

# Scraping Song peak rank
try:
    peak=driver.find_elements(By.XPATH,'//span[@class="chart-element__information"]/span[2]')
    for i in peak:
        Peak_rank.append(i.text)
except NoSuchElementException:
    Peak_rank.append('NA')

# Scraping Song Artist Name
try:
    weeks=driver.find_elements(By.XPATH,'//span[@class="chart-element__information"]/span[2]')
    for i in weeks:
        Weeks.append(i.text)
except NoSuchElementException:
    Weeks.append('NA')

In [7]:
Billboard=pd.DataFrame({'Song_Name':Song,
                'Artist_Name':Artist,
                'Last_week_rank':Last_Week_rank,
                'Peak':Peak_rank,
                'Weeks_on_chart':Weeks})
print('\033[1m'+'Billboard Hot 100 Songs :'+'\033[0m')
Billboard

Billboard Hot 100 Songs :

,Song_Name,Artist_Name,Last_week_rank,Peak,Weeks_on_chart
0,Easy On Me,Adele,Adele,Adele,Adele
1,Stay,The Kid LAROI & Justin Bieber,The Kid LAROI & Justin Bieber,The Kid LAROI & Justin Bieber,The Kid LAROI & Justin Bieber
2,Industry Baby,Lil Nas X & Jack Harlow,Lil Nas X & Jack Harlow,Lil Nas X & Jack Harlow,Lil Nas X & Jack Harlow
3,Fancy Like,Walker Hayes,Walker Hayes,Walker Hayes,Walker Hayes
4,Bad Habits,Ed Sheeran,Ed Sheeran,Ed Sheeran,Ed Sheeran
...,...,...,...,...,...
95,To Be Loved By You,Parker McCollum,Parker McCollum,Parker McCollum,Parker McCollum
96,Ain't Shit,Doja Cat,Doja Cat,Doja Cat,Doja Cat
97,Life Goes On,Oliver Tree,Oliver Tree,Oliver Tree,Oliver Tree
98,Come Through,H.E.R. Featuring Chris Brown,H.E.R. Featuring Chris Brown,H.E.R. Featuring Chris Brown,H.E.R. Featuring Chris Brown
99,Nevada,YoungBoy Never Broke Again,YoungBoy Never Broke Again,YoungBoy Never Broke Again,YoungBoy Never Broke Again

### 6. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
    
You have to find the following details:
    
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [30]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [33]:
# connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)
time.sleep(1)

In [32]:
# Creating Empty Lists
Book =[]
Author =[]
Volumes_sold =[]
Publisher =[]
Genre =[]

In [34]:
# Scraping Book name
try:
    book=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
    for i in book:
        Book.append(i.text)
except NoSuchElementException:
    Book.append('NA')
    
# Scraping Book author's via Xpath
try:
    author=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
    for i in author:
        Author.append(i.text)
except NoSuchElementException:
    Author.append('NA')
    
# Scraping Volumes sold via Xpath
try:
    sold=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
    for i in sold:
        Volumes_sold.append(i.text)
except NoSuchElementException:
    Volumes_sold.append('NA')
    
# Scraping publisher via xPath
try:
    publisher=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
    for i in publisher:
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')

In [35]:
#creating dataframe
Top_Books=pd.DataFrame({"Book Title":Book,
                "Author Name":Author,
                'Volumes sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})
print('\033[1m'+'Best Selling Books of All Time List by The Guardian  :'+'\033[0m')
Top_Books

Best Selling Books of All Time List by The Guardian  :

,Book Title,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### 7. Scrape the details most watched tv series of all time from imdb.com.

 Url = https://www.imdb.com/list/ls095964455/
        
You have to find the following details:
    
A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [36]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [41]:
# connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

# Opening Wikipedia webpage
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)
time.sleep(1)

In [42]:
# Creating Empty List
Name =[]
Year_Span=[]
Genre =[]
Run_Time =[]
Ratings =[]
Votes =[]

In [45]:
# Scraping Name via Xpath
try:
    name=driver.find_elements(By.XPATH,".//h3[@class='lister-item-header']/a")
    for i in name:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('NA')

# Scraping Year span via Xpath
try:
    year=driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/span[2]")
    for i in year:
        Year_Span.append(i.text)
except NoSuchElementException:
    Year_Span.append('NA')
    
# Scraping Genre via Xpath
try:
    genre=driver.find_elements(By.XPATH,"//span[@class='genre']")
    for i in genre:
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append('NA')
    
# Scraping RunTime via Xpath
try:
    runtime=driver.find_elements(By.XPATH,"//span[@class='runtime']")
    for i in runtime:
        Run_Time.append(i.text)
except NoSuchElementException:
    Run_Time.append('NA')

# Scraping Ratings via Xpath
try:
    ratings=driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']/span[2]")
    for i in ratings:
        Ratings.append(i.text)
except NoSuchElementException:
    Ratings.append('NA')

# Scraping Votes via Xpath
try:
    votes=driver.find_elements(By.XPATH,"//span[@name='nv']")
    for i in votes:
        Votes.append(i.text)
except NoSuchElementException:
    Votes.append('NA')

In [47]:
#creating dataframe
IMDB_TV=pd.DataFrame({"Name":Name,
                "Year Span":Year_Span,
                "Genre":Genre,
                "Run Time":Run_Time,
                "Ratings":Ratings,
                "Votes":Votes})
print('\033[1m'+'Top 100 most watched tv shows of all time IMDB :'+'\033[0m')
IMDB_TV

Top 100 most watched tv shows of all time IMDB :

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,895,371"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"926,663"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"910,542"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"272,467"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"232,886"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"46,296"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"57,123"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"179,374"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"37,570"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"211,058"

### 8. Details of Datasets from UCI machine learning repositories.

 Url = https://archive.ics.uci.edu/
        
 You have to find the following details:
    
A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [48]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import ElementNotInteractableException
import time

In [63]:
# connecting to webdriver
driver=webdriver.Chrome()
time.sleep(1)

# Opening Wikipedia webpage
url='https://archive.ics.uci.edu/'
driver.get(url)
time.sleep(1)

In [65]:
# Clicking on all datasets links
dataset=driver.find_element(By.XPATH,".//a[@href='datasets.php']")
dataset.click()
time.sleep(1)

In [71]:
# Creating empty lists
Dataset =[]
Data_Type =[]
Task =[]
Attribute_Type =[]
No_of_Instances =[]
No_of_Attribute =[]
Year =[]

In [72]:
# Scraping DataSet Name via Xpath
from tqdm import tqdm
try:
    dataset=driver.find_elements(By.XPATH,"//p[@class='normal']/b/a")
    for i in tqdm(dataset):
        Dataset.append(i.text)
        time.sleep(0.15)
except NoSuchElementException:
    Dataset.append('NA')
    
# Scraping Data Type via Xpath
try:
    Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]')
    for i in Type[1:]:
        Data_Type.append(i.text)
except NoSuchElementException:
    Data_Type.append('NA')
    
# Scraping Task via Xpath
try:
    task=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]')
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('NA')
    
# Scraping Attribute_Type via Xpath
try:
    attribute_Type=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]')
    for i in attribute_Type[1:]:
        Attribute_Type.append(i.text)
except NoSuchElementException:
    Attribute_Type.append('NA')
    
# Scraping No_of_Instances via Xpath
try:
    no_of_Instances=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]')
    for i in no_of_Instances[1:]:
        No_of_Instances.append(i.text)
except NoSuchElementException:
    No_of_Instances.append('NA')

# Scraping No_of_Attribute via Xpath
try:
    no_of_Attribute=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]')
    for i in no_of_Attribute[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('NA')
    
# Scraping Year via Xpath
try:
    year=driver.find_elements(By.XPATH,'/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]')
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('NA')

100%|██████████| 588/588 [01:59<00:00,  4.92it/s]

In [75]:
len(Dataset),len(Data_Type),len(Task),len(Attribute_Type),len(No_of_Instances),len(Year)

(588, 588, 588, 588, 588, 588)

In [76]:
# Creating Data Frame for UCI Dataset
UCI_Dataset=pd.DataFrame({'DataSet Title':Dataset,
                'Data Type':Data_Type,
                'Task':Task,
                'Attribute Type':Attribute_Type,
                'No of Instances':No_of_Instances,
                'No of Attribute':No_of_Attribute,
                'Year':Year})
print('\033[1m'+' UCI Machine Learning Dataset:'+'\033[0m')
UCI_Dataset

 UCI Machine Learning Dataset:

,DataSet Title,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021